<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
    <head>
        <title>
        </title>
        <link href="{{ STATIC_URL }}importer/style.css" rel="stylesheet">
    </head>

    <body>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for item in items %}
                <li class="item">
                <input type="CHECKBOX" name="items" value="{{ item.full_path }}"/>
                <img src="{{ item.full_path }}" />
                </li>
                {% endfor %}
            </ul>
            <input type="SUBMIT" />
        </form>
    </body>
</html>
