<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
    <head>
        <title>
        </title>
        <link href="{{ STATIC_URL }}importer/style.css" rel="stylesheet">
    </head>

    <body>
        <form method="get">
            <input type="TEXT" name="q" value="{{ request.GET.q }}" />
            <input type="SUBMIT" value="חפש עבודות"/>
        </form>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for item in items %}
                <li class="item">

                {% if not item.already_imported %}
                <input type="CHECKBOX" name="items" id="item_input{{ forloop.counter }}" value="{{ item.full_path }}"/>
                {% endif %}

                <label for="item_input{{ forloop.counter }}">
                    <img src="{{ item.full_path }}" {% if item.already_imported %} class="imported" {% endif %}/>
                </label>
                </li>
                {% endfor %}
            </ul>
            <input type="SUBMIT" value="הוסף עבודות"/>
        </form>
    </body>
</html>
